* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
}

::-webkit-scrollbar {
  width: 10px;
  background: #384e78;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  height: 10px;
  background: #fa9284;
}
