form {
  display: flex;
  margin: 20px 0;

  input {
    width: 100%;
    flex-wrap: wrap;
    margin-right: 10px;
    padding-left: 5px;
    border: 3px solid #384e78;
    outline: none;
    color: #e06c78;
    font-size: 1rem;
    font-weight: bold;

    &:focus {
      border: 3px solid #fff;
    }
  }
}
